.gameCard {
    min-width: 100px;
    min-height: 100px;
    margin: 15px;
    text-align: center;
}

.gameCard p {
    font-size: 20px;
    font-weight: bold;
}

/* Fix for angularui - bootstrap. Removes empty href values. */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
